button {
  height: 40px;
  width: 40px;
  outline: none;
  margin: 10px;
  border: none;
  border-radius: 2px;
  background-color: #eeeeee;
}

button.current {
  box-shadow: 0 0 0 2px white,
              0 0 0 4px black;
}

#btnActivate:hover {
  background-color: #bcd4bd;
}

#btnActivate:active {
  background-color: #a5d6a7;
}

#btnDeactivate:hover {
  background-color: #e3b1b1;
}

#btnDeactivate:active {
  background-color: #e57373;
}